.ordersLength {
    color: var(--mainColor);
    font-size: 24px;
    margin-bottom: 12px;
    font-weight: 800;
}

.order {
    border: 1px solid var(--borderColor);
    background-color: var(--backgroundColor);
    color: var(--mainColor) !important;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 0px 12px;
}

.order:hover {
    outline: 1px solid var(--mainColor);
}

.order div {
    /* margin-bottom: 10px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.order>div>div {
    border: 1px solid var(--borderColor);
    /* padding: 12px; */
}

.order>div>div>div {
    padding: 7px 4px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid var(--borderColor);
    /* padding-top: 10px; */
}