.layoutContainer {
    display: flex;
    min-height: 100vh;
    background-color: var(--backgroundColor);
}

.mainContent {
    flex: 1;
    margin-left: 235px;
    transition: var(--transition);
    min-height: 100vh;
    width: calc(100% - 235px);
}

.mainContent.expanded {
    margin-left: 0;
    width: 100%;
    /* padding: 1rem 0.5rem; */
}

.pageContent {
    padding: 4.5rem 1.2rem 1rem 1.2rem;
    min-height: calc(100vh - 60px);
}

@media (max-width: 768px) {
    .mainContent {
        margin-left: 0;
        width: 100%;
    }
    .pageContent {
        padding: 5rem 1rem 1rem;
    }
}