.parent {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sideBar {
    background-color: var(--sidebarBg);
    width: 235px;
    height: 100%;
    padding: 1.5rem 1rem;
    transition: var(--transition);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(0);
}

.nonVisible {
    transform: translateX(-250px);
    box-shadow: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--hoverBg);
    margin-bottom: 1.25rem;
}

.logo img {
    width: 35px;
    height: auto;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.logo span {
    color: var(--textLight);
    font-weight: 600;
    font-size: 1rem;
}

.menuItems {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 0.85rem;
    color: var(--textLight);
    text-decoration: none;
    border-radius: 8px;
    transition: var(--transition);
    font-size: 0.89rem;
}

.item:hover {
    background-color: var(--hoverBg);
    color: var(--textLight);
}

.active {
    background-color: var(--hoverBg);
    font-weight: 400;
}

.burgerMenu {
    position: fixed;
    top: 1rem;
    left: 1rem;
    color: var(--mainColor);
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 1001;
    width: 25px;
    height: 40px;
}

.burgerMenuRight {
    color: var(--textLight);
    font-size: 1.25rem;
    cursor: pointer;
    margin-right: 0.5rem;
}

@media (max-width: 768px) {
    .sideBar {
        position: fixed;
        left: 0;
        top: 0;
    }
}