/* :root {
    --mainColor: #004080;
    --secondaryColor: #ffffff;
    --thirdColor: #007bff;
} */

.overlay {
    /* background: linear-gradient(150deg, var(--thirdColor), var(--secondaryColor)); */
    background: linear-gradient(to right, var(--mainColor) 5%, #070713 70%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.parent {
    /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12); */
    align-items: center;
    border-radius: 12px;
    border-bottom: 1px solid #d0d7de;
    align-items: flex-start;
    width: 65rem;
    margin: 0 auto;
    background-color: #E7F0FB;
}

.parent .ImagePart {
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 2; */
    border-radius: 12px 12px 12px 12px;
}

.parent .ImagePart img {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.ImagePart div {
    font-size: 2rem;
    color: var(--secondaryColor);
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 0.75rem;
    background: linear-gradient(to right, var(--mainColor) 10%, #070713 80%);
    border-radius: 0px 0px 0px 12px;
}

.rightSide {
    height: 100%;
    /* width: 100%; */
    /* flex: 1 */
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 25px; */
    background: linear-gradient(to right, var(--mainColor) 10%, #070713 80%);
    padding: 0.75rem;
    height: 100%;
    border-radius: 0px 12px 0px 0px;
}

.head img {
    width: 90px;
    height: 50px;
    margin-bottom: 8px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    color: var(--secondaryColor);
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    border-radius: 0px 0px 12px 12px;
    gap: 0.8rem;
    width: 100%;
    height: 100%;
    background-color: #E7F0FB;
    padding: 4rem 1.5rem;
    /* background: linear-gradient(to right, var(--secondaryColor) 10%, rgba(157, 152, 216, 0.714) 80%); */
}

.parent .form input {
    background: var(--secondaryColor);
    border-radius: 8px;
    padding: 0.75rem 1rem;
    font-size: 0.9375rem;
    color: var(--thirdColor);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 2rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
    /* width: 100%; */
}

.form input:focus {
    border-color: var(--secondaryColor);
    background-color: #d0d0d0;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.form input::placeholder {
    color: #6c6c6c;
}

.form button {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 10px;
    outline: 1px solid var(--secondaryColor);
    background: linear-gradient(90deg, var(--mainColor), #070713);
    /* margin-top: 6rem; */
}

.form button:hover {
    background: linear-gradient(90deg, var(--thirdColor), #070713);
    color: var(--secondaryColor);
}

.form p {
    color: red;
    font-size: 13px;
    margin: 0;
    padding-left: 3px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.parent form input,
.parent form button {
    animation: fadeIn 0.5s ease-out forwards;
}

.parent form input:nth-child(1) {
    animation-delay: 0.1s;
}

.parent form input:nth-child(2) {
    animation-delay: 0.2s;
}

form button {
    animation-delay: 0.5s;
}

@media (max-width: 500px) {
    .parent {
        width: 100%;
        flex-direction: column-reverse;
    }
    .container {
        padding: 24px 18px;
    }
    .title {
        font-size: 20px;
    }
    .form input,
    .form button {
        font-size: 14px;
    }
}