@import "@fontsource/open-sans/index.css";
:root {
    --mainColor: #0e2e60;
    ;
    --secondaryColor: #CCD7FA;
    --thirdColor: #2D64BC;
    --borderColor: rgba(156, 156, 156, 0.39);
    --backgroundColor: rgba(215, 219, 233, 0.429);
    /* --app-font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

* {
    /* font-family: "Open Sans", sans-serif; */
    font-family: 'Cairo', sans-serif;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
}

.btn-outline-primary:hover {
    background-color: var(--mainColor) !important;
    border-color: var(--mainColor) !important;
    color: white !important;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}